@model SakraStats.competition

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CompetitionsDelete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>competition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompetitionsID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompetitionsID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompText)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="text" name="employeeidstr" value=@ViewBag.employeeidstr hidden="hidden" />
            <input type="text" name="accessidstr" value=@ViewBag.accessidstr hidden="hidden" />
            <input type="text" name="branchidstr" value=@ViewBag.branchidstr hidden="hidden" />
            <input type="submit" name ="submit" value="Save Delete" class="btn btn-default" /> |
            <input type="text" name="id" value="@ViewBag.id" hidden="hidden" />
        </div>
    }
</div>
