@model IEnumerable<SakraStats.competition>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Competitions</h2>

@using (Html.BeginForm("Competitions", "Admin"))
{
    @Html.AntiForgeryToken()
    <input type="submit" name="submit" value="Add" class="btn btn-default" />
    <input type="text" name="employeeidstr" value=@ViewBag.employeeidstr hidden="hidden" />
    <input type="text" name="accessidstr" value=@ViewBag.accessidstr hidden="hidden" />
    <input type="text" name="branchidstr" value=@ViewBag.branchidstr hidden="hidden" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompText)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompText)
        </td>
        <td>
            @using (Html.BeginForm("Competitions", "Admin"))
            {
                @Html.AntiForgeryToken()
                <input type="submit" name="submit" value="Edit" class="btn btn-default" />
                <input type="submit" name="submit" value="Delete" class="btn btn-default" />
                <input type="text" name="id" value="@item.CompetitionsID" hidden="hidden" />
                <input type="text" name="employeeidstr" value=@ViewBag.employeeidstr hidden="hidden" />
                <input type="text" name="accessidstr" value=@ViewBag.accessidstr hidden="hidden" />
                <input type="text" name="branchidstr" value=@ViewBag.branchidstr hidden="hidden" />
            }
        </td>
    </tr>
}

</table>
