@model SakraStats.product

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

@using (Html.BeginForm("Products", "Admin"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ProductID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductID, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input name="submit" type="submit" value="Save" class="btn btn-default" />
                <input type="text" name="employeeidstr" value=@ViewBag.employeeidstr hidden="hidden" />
                <input type="text" name="accessidstr" value=@ViewBag.accessidstr hidden="hidden" />
                <input type="text" name="branchidstr" value=@ViewBag.branchidstr hidden="hidden" />
            </div>
        </div>
    </div>
}
