@model IEnumerable<SakraStats.user>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

@using (Html.BeginForm("Users","Admin"))
{
    @Html.AntiForgeryToken()
    <input type="submit" name="submit" value="NEW" class="btn btn-default" />
    <input type="text" name="employeeidstr" value=@ViewBag.employeeidstr hidden="hidden" />
    <input type="text" name="accessidstr" value=@ViewBag.accessidstr hidden="hidden" />
    <input type="text" name="branchidstr" value=@ViewBag.branchidstr hidden="hidden" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @using (Html.BeginForm("Users", "Admin"))
            {
                @Html.AntiForgeryToken()
                <input type="submit" name="submit" value="EDIT" class="btn btn-default" />
                <input type="submit" name="submit" value="DELETE" class="btn btn-default" />
                <input type="submit" name="submit" value="DETAILS" class="btn btn-default" />
                <input type="text" name="id" value=@item.EmployeeID hidden="hidden" />
                <input type="text" name="employeeidstr" value=@ViewBag.employeeidstr hidden="hidden" />
                <input type="text" name="accessidstr" value=@ViewBag.accessidstr hidden="hidden" />
                <input type="text" name="branchidstr" value=@ViewBag.branchidstr hidden="hidden" />
            }
        </td>
    </tr>
}
</table>
