@model List<List<SakraStats.Controllers.CollatedStats>>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime datestart = new DateTime(2016, 1, 1);
    DateTime dateend = DateTime.Now;
    if (ViewBag.datestart != null)
    {
        try
        {
            datestart = (DateTime)ViewBag.datestart;
            dateend = (DateTime)ViewBag.dateend;
        }
        catch { }
    }
}
<h2>@ViewBag.name</h2>
@using (Html.BeginForm("StatisticsDay", "Manager"))
{
    <div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <text style="font-size:13pt">@datestart.ToString("yyyy-MM-dd") - @dateend.ToString("yyyy-MM-dd")</text>
        <input type="submit" name="submit" value="Ändra" style="width:60px; background-color:#004387; color:white" class="btn btn-default" />
        <br />
        <br />
        <input type="text" name="employeeid" value=@ViewBag.employeeid hidden="hidden" />
        <input type="text" name="accessid" value=@ViewBag.accessid hidden="hidden" />
        <input type="text" name="branchid" value=@ViewBag.branchid hidden="hidden" />
        <input type="text" name="datestart" value=@ViewBag.datestart hidden="hidden" />
        <input type="text" name="dateend" value=@ViewBag.dateend hidden="hidden" />
    </div>
}

@foreach (var branch in Model)
{
    try
    {
        <h3>@branch[0].sumbranchid</h3>
    }
    catch
    {
        <h3></h3>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.Label("Datum")
                </th>
                <th>
                    @Html.Label("Namn")
                </th>
                @if (ViewBag.accessid != "Chefstekniker")
                {
                    <th>
                        @Html.Label("KK")
                    </th>
                    <th>
                        @Html.Label("Dem")
                    </th>
                }
                <th>
                    @Html.Label("Sälj")
                </th>
                @if (ViewBag.accessid != "Chefstekniker")
                {
                    <th>
                        @Html.Label("Omst")
                    </th>
                    <th>

                    </th>
                }
                else
                {
                    <th>
                        @Html.Label("Merf")
                    </th>
                }
                @if (ViewBag.accessid == "Chefstekniker" || ViewBag.accessid == "Administrator")
                {
                    <th>
                        @Html.Label("Framk")
                    </th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in branch)
            {
                <tr>
                    <td>
                        @(((DateTime)item.sumdate).ToShortDateString())
                    </td>
                    <td>
                        @item.sumname
                    </td>
                    @if (ViewBag.accessid != "Chefstekniker")
                    {
                        <td>
                            @item.sumcontacts
                        </td>
                        <td>
                            @item.sumdemos
                        </td>
                    }
                    <td>
                        @item.sumsales
                    </td>
                    @if (ViewBag.accessid != "Chefstekniker")
                    {
                        <td>
                            @item.sumturnover
                        </td>
                        <td>
                            @if (item.sumdemos > 0)
                            {
                                using (Html.BeginForm("DayReport", "Stats"))
                                {
                                    <div>
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)
                                        <input name="submit" type="submit" value="Rapport" style="width:80px; background-color:#004387; color:white" class="btn btn-default" />
                                        <input type="text" name="accessid" value=@ViewBag.accessid hidden="hidden" />
                                        <input type="text" name="employeeid" value=@ViewBag.employeeid hidden="hidden" />
                                        <input type="text" name="branchid" value=@ViewBag.branchid hidden="hidden" />
                                        <input type="text" name="repdate" value="@item.sumdate" hidden="hidden" />
                                        <input type="text" name="repemployee" value="@item.sumemployeeid" hidden="hidden" />
                                        <input type="text" name="datestart" value="@datestart" hidden="hidden" />
                                        <input type="text" name="dateend" value="@dateend" hidden="hidden" />
                                    </div>
                                }
                            }
                        </td>
                    }
                    else
                    {
                        <td>
                            @item.sumturnover
                        </td>
                    }
                    @if (ViewBag.accessid == "Chefstekniker" || ViewBag.accessid == "Administrator")
                    {
                        <td>
                            @item.sumservice
                        </td>
                    }
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>

                </td>
                <td>
                    @Html.Label("TOTALT: ")
                </td>
                @if (ViewBag.accessid != "Chefstekniker")
                {
                    <td>
                        @branch.Sum(r => r.sumcontacts)
                    </td>
                    <td>
                        @branch.Sum(r => r.sumdemos)
                    </td>
                }
                <td>
                    @branch.Sum(r => r.sumsales)
                </td>
                @if (ViewBag.accessid != "Chefstekniker")
                {
                    <td>
                        @branch.Sum(r => r.sumturnover)
                    </td>
                }
                else
                {
                    <td>
                        @branch.Sum(r => r.sumturnover)
                    </td>
                }
                @if (ViewBag.accessid == "Chefstekniker" || ViewBag.accessid == "Administrator")
                {
                    <td>
                        @branch.Sum(r => r.sumservice)
                    </td>
                }
            </tr>
        </tfoot>
    </table>
}