@model SakraStats.calendar
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> selected = ViewBag.selected;
    List<SelectListItem> abtypes = ViewBag.typelist;
    List<calendar> calitems = ViewBag.calitems;
}
<form id="__AjaxAntiForgeryForm" action="#" method="post">
    @Html.AntiForgeryToken()
</form>
<script language="javascript" type="text/javascript">
    function ChangeSelected(selectedid)
    {
        var url = "/Calendar/GetEdit/";
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        $.ajax({
            url: url,
            data: { __RequestVerificationToken: token, selectedid: selectedid},
            cache: false,
            type: "POST",
            success: function (data) {
                $("#EventName").val(data[0]);
                $("#EventStart").val(data[1]);
                $("#EventEnd").val(data[2]);
                $("#EventType").val(data[3]);
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
    function DisableSend() {
        document.getElementById("submit").disabled = true;
    }
</script>
<h2>@ViewBag.name</h2>
<br />

@using (Html.BeginForm("Edit", "Calendar", FormMethod.Post, new { @name = "form", @id = "form", @onsubmit = "javascript:DisableSend();" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Kalenderpost", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("selected", selected.AsEnumerable(), new { @class = "form-control", @onchange = "javascript:ChangeSelected(this.value, selected.Text);" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ny Benämning", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EventName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ny Start", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventStart, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.EventStart, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ny Slut", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventEnd, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.EventEnd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ny Typ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.EventType, abtypes.AsEnumerable(), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EventType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submit" type="submit" name="submit" value="SPARA" style="background-color:#004387; color:white; width:300px" class="btn btn-default" />
                <br />
                <input type="text" name="employeeid" value=@ViewBag.employeeid hidden="hidden" />
                <input type="text" name="accessid" value=@ViewBag.accessid hidden="hidden" />
                <input type="text" name="branchid" value=@ViewBag.branchid hidden="hidden" />
                <input type="text" name="manager" value="@ViewBag.manager" hidden="hidden" />
            </div>
        </div>
    </div>
}

