@model List<List<SakraStats.Controllers.CollatedKey>>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string holder = "~";
    DateTime datestart = new DateTime(2016, 1, 1);
    DateTime dateend = DateTime.Now;
    if (ViewBag.datestart != null)
    {
        try
        {
            datestart = (DateTime)ViewBag.datestart;
            dateend = (DateTime)ViewBag.dateend;
        }
        catch { }
    }
}
@if (ViewBag.accessid != "Gruppchef")
{
    <h2>@ViewBag.branchid</h2>
}
else
{
    <h2>Grupp:  @ViewBag.name</h2>
}@using (Html.BeginForm("Key", "Manager"))
{
    <div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <text style="font-size:13pt">@datestart.ToString("yyyy-MM-dd") - @dateend.ToString("yyyy-MM-dd")</text>
        <input type="submit" name="submit" value="Ändra" style="width:60px; background-color:#004387; color:white" class="btn btn-default" />
        <br />
        <br />
        <input type="text" name="employeeid" value=@ViewBag.employeeid hidden="hidden" />
        <input type="text" name="accessid" value=@ViewBag.accessid hidden="hidden" />
        <input type="text" name="branchid" value=@ViewBag.branchid hidden="hidden" />
        <input type="text" name="datestart" value=@ViewBag.datestart hidden="hidden" />
        <input type="text" name="dateend" value=@ViewBag.dateend hidden="hidden" />
        <input type="text" name="showsellerfromview" value="false" hidden="hidden" />
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("Filial")
            </th>
            <th>
                @Html.Label("KK/dem")
            </th>
            <th>
                @Html.Label("Dem/sälj")
            </th>
            <th>
                @Html.Label("Omst/sälj")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @try
        {
            foreach (var branch in Model)
            {
                foreach (var item in branch)
                {
                    <tr>
                        <td>
                            @item.sumbranchid
                        </td>
                        <td>
                            @if (item.sumcontacts == null)
                        { @holder }
                        else
                        {@Math.Round((decimal)item.sumcontacts, 2)}
                        </td>
                        <td>
                            @if (item.sumdemos == null)
                        { @holder }
                        else
                        {@Math.Round((decimal)item.sumdemos, 2)}
                        </td>
                        <td>
                            @if (item.sumturnover == null)
                        { @holder }
                        else
                        {@Math.Round((decimal)item.sumturnover, 2)}
                        </td>
                    </tr>
                }
            }
        }
        catch { }
    </tbody>
    @{
        try
        {
            if (@ViewBag.accessid != "Gruppchef")
            {
                <tfoot>
                    <tr>
                        <td>
                            @Html.Label("SNITT : ")
                        </td>
                        <td>
                            @if (ViewBag.totalcontacts == 0 || ViewBag.totaldemos == 0)
                            { @holder }
                            else
                            {@Math.Round((decimal)ViewBag.totalcontacts / (decimal)ViewBag.totaldemos, 2)}
                        </td>
                        <td>
                            @if (ViewBag.totaldemos == 0 || ViewBag.totalsales == 0)
                            { @holder }
                            else
                            {@Math.Round((decimal)ViewBag.totaldemos / (decimal)ViewBag.totalsales, 2)}
                        </td>
                        <td>
                            @if (ViewBag.totalturnover == 0 || ViewBag.totalsales == 0)
                            { @holder }
                            else
                            {@Math.Round((decimal)ViewBag.totalturnover / (decimal)ViewBag.totalsales, 2)}
                        </td>
                    </tr>
                </tfoot>
            }
        }
        catch { }
    }
</table>