@model SakraStats.demreport


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int nodem = ViewBag.Demos;
    int lastdem = ViewBag.Turnover;
    if (lastdem>9999999)
    {
        lastdem = lastdem - 9999999;
    }
    else
    {
        lastdem = 0;
    }
}

<h2>@ViewBag.name</h2>
@using (Html.BeginForm("DayReport", "Stats", FormMethod.Post, new { @name = "form", @id = "form", @onsubmit = "javascript:DisableSend();" }))
{
    @Html.AntiForgeryToken()
    for (int i = 1; i <= nodem; i++)
    {
        <h3>Dem @(i+lastdem)</h3>
        <br />
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Adress")
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Ort")
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Resultat")
                    @Html.EditorFor(model => model.Result, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Result, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Notering")
                    @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    }
    <input id="submit" name="submit" type="submit" value="SKICKA" style="width:300px; background-color:#004387; color:white" class="btn btn-default" />
    <br />
    <br />
    <input type="text" name="accessid" value=@ViewBag.accessid hidden="hidden" />
    <input type="text" name="employeeid" value=@ViewBag.employeeid hidden="hidden" />
    <input type="text" name="branchid" value=@ViewBag.branchid hidden="hidden" />
    <input type="text" name="Contacts" value="@ViewBag.Contacts" hidden="hidden" />
            <input type="text" name="Demos" value="@ViewBag.Demos" hidden="hidden" />
            <input type="text" name="Sales" value="@ViewBag.Sales" hidden="hidden" />
            <input type="text" name="Turnover" value="@ViewBag.Turnover" hidden="hidden" />
            <input type="text" name="Date" value="@ViewBag.Date" hidden="hidden" />
            <br />
            <br />
}
<script language="javascript" type="text/javascript">
    function DisableSend() {
        document.getElementById("submit").disabled = true;
    }
</script>

